common.shi.in filter=lfs diff=lfs merge=lfs -text
configs filter=lfs diff=lfs merge=lfs -text
filters filter=lfs diff=lfs merge=lfs -text
index.html filter=lfs diff=lfs merge=lfs -text
Install-unix.txt filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
api_examples filter=lfs diff=lfs merge=lfs -text
MagickCore filter=lfs diff=lfs merge=lfs -text
magick.sh.in filter=lfs diff=lfs merge=lfs -text
Magick++ filter=lfs diff=lfs merge=lfs -text
README.txt filter=lfs diff=lfs merge=lfs -text
SECURITY.md filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
winpath.sh filter=lfs diff=lfs merge=lfs -text
AUTHORS.txt filter=lfs diff=lfs merge=lfs -text
coders filter=lfs diff=lfs merge=lfs -text
imagemagick.desktop filter=lfs diff=lfs merge=lfs -text
MagickWand filter=lfs diff=lfs merge=lfs -text
PerlMagick filter=lfs diff=lfs merge=lfs -text
ImageMagick.spec.in filter=lfs diff=lfs merge=lfs -text
Install-mac.txt filter=lfs diff=lfs merge=lfs -text
Install-windows.txt filter=lfs diff=lfs merge=lfs -text
Magickshr.opt filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
config filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
www filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
AppRun filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
Install-vms.txt filter=lfs diff=lfs merge=lfs -text
Make.com filter=lfs diff=lfs merge=lfs -text
NEWS.txt filter=lfs diff=lfs merge=lfs -text
QuickStart.txt filter=lfs diff=lfs merge=lfs -text
utilities filter=lfs diff=lfs merge=lfs -text
androidconfigure filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
